* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#navbar {
    background-color: rgb(21, 21, 94);
    color: rgb(199, 198, 198);
    height: 100vh;
    padding: 3rem;
    position: fixed;
    width: 20%;
}

#logo-oracle {
    display: block;
    filter: brightness(80%);
    margin: 0 auto 3rem auto;
    height: 50%;
    width: 50%;
}

#nav-bar-title {
    border-bottom: rgb(199, 198, 198) solid 0.5rem;
    margin-bottom: 2rem;
}

.nav-link {
    color: rgb(199, 198, 198);
    display: block;
    margin: 1rem 0 1rem 0;
    text-decoration: none;
}

.nav-link:visited {
    color: rgb(199, 198, 198);
    text-decoration: none;
}


.division {
    border-bottom: rgb(199, 198, 198) solid 0.1rem;
}

#sections {
    background-color: rgb(199, 198, 198);
    color: rgb(58, 58, 58);
    padding: 3rem;
    position: absolute;
    left: 20%;
    width: 80%;
}

header {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

h2 { 
    font-weight: 100;
}

p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

code {
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

a {
    color: rgb(11, 11, 86);
}
a:visited {
    color: rgb(11, 11, 86);
}

ul {
    margin-bottom: 1.5rem;
}

li {
    line-height: 1.5rem;
}

@media (min-width: 375px) and (max-width: 915px) {
    * {
        font-size: 0.75rem;
    }

    #navbar {
        padding: 1.5rem;
        width: 35%;
    }

    #logo-oracle {
        margin-top: 1.5rem;
        height: 60%;
        width: 60%;
    }

    #sections {
        left: 35%;
        padding: 3rem 1.5rem 3rem 1.5rem;
        width: 65%;
    }
}